@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.wap_link {
  position: fixed;
  bottom:-88px;
  right: 40px;
  z-index: 50;
  transition: bottom 0.3s ease;
}

.wap_link.visible {
 bottom: 60px;
}

.wap_icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.wap_icon:hover {
  transform: scale(1.2);
}

@media print {
    /* Ocultar todo excepto el contenido a imprimir */
    body * {
        visibility: hidden;
    }

    /* Mostrar solo el contenido que queremos imprimir */
    #printable-content,
    #printable-content * {
        visibility: visible;
    }

    /* Asegurar que el contenido imprimible ocupe toda la página */
    #printable-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Ocultar elementos específicos durante la impresión */
    .print\:hidden {
        display: none !important;
    }

    /* Ajustes adicionales para la impresión */
    .max-w-lg {
        max-width: none !important;
    }

    /* Asegurar que los bordes y textos sean visibles */
    .print-content * {
        color: black !important;
        border-color: #ddd !important;
    }
}

